html {
  font-size: 62.5%; }

.s-heaimg {
  width: 34px;
  height: 28px;
  margin: 0.8rem;
  background-image: url(../images/img.png);
  background-position: -54px 0;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

.s-mnavimg {
  width: 25px;
  height: 40px;
  margin: 0;
  background-image: url(../images/img.png);
  background-position: 0 0;
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  -ms-transform: scale(0.55);
  -o-transform: scale(0.55);
  transform: scale(0.55); }

.u-right {
  width: 28px;
  height: 56px;
  margin: 0;
  background-image: url(../images/img.png);
  background-position: -25px 0;
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  -ms-transform: scale(0.55);
  -o-transform: scale(0.55);
  transform: scale(0.55); }

body {
  background: #F0F0F0; }

input {
  display: none; }

header {
  background: #29BEDF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

#menubutton:checked ~ menu {
  left: 0; }

#menubutton:checked ~ main {
  margin-left: 50%;
  border: 0.5rem solid #29BEDF; }

main {
  width: 100%;
  transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -webkit-transition: margin-left 1s;
  -o-transition: margin-left 1s; }

menu {
  color: #29bde0;
  position: absolute;
  float: left;
  width: 50%;
  left: -50%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: left 1s;
  -moz-transition: left 1s;
  -webkit-transition: left 1s;
  -o-transition: left 1s; }

.menu-div {
  width: 100%;
  height: 5rem;
  border-bottom: 0.1rem solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.menu-divdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.menu-icodiv {
  width: 2rem;
  height: 2rem;
  border: 0.15rem solid #29bde0;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.menu-icodiv span {
  padding: 0; }

nav {
  margin: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 0.1rem solid #ccc; }

.f-nav-fakebox {
  width: 2.5rem; }

nav span {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: lighter;
  color: #ABABAB; }

ul {
  position: relative;
  margin: 2rem;
  padding: 0;
  border: 0.1rem solid #ababab70;
  background: #fff; }

.f-ullifelx {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.f-ullibox1 {
  height: 6rem;
  margin: 0 0 1rem 0;
  border-bottom: 0.1rem solid #FBB436; }

.f-ulli-text1 {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #FBB436; }

.f-ulli-box {
  width: 80%;
  height: 6rem;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #29BEDF; }

.f-ulli-text2 {
  font-size: 1.6rem;
  font-weight: lighter;
  color: #fff; }

.f-ulli-text3 {
  margin: 1rem 0 0 0;
  font-size: 1.4rem;
  font-weight: lighter;
  color: #ABABAB; }

.u-circle {
  display: flex;
  justify-content: center; }

.u-circle1 {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #29BEDF; }

.u-circle2 {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #eee; }

.u-rightbox {
  position: absolute;
  top: 47%;
  left: 92%;
  list-style: none; }

/*# sourceMappingURL=task7.css.map */
