@charset "utf-8";
@import "reset";

.oneone {
  width: 100%;
}
.oneone:after {
  content: '';
  display: block;
  clear: both;
}
.one {
  float: left;
  width: 31.33%;
  margin: 1%;
  padding-bottom: 31.33%;
  background: #FF9900;
  border-radius: 10%;
}
.footer-btn {
  width: 90%;
  height: 4rem;
  margin: 0.5rem 5%;
  border: 0.1rem solid #FF9900;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: #FF9900;
  background-color: #fff;
}
.footer-btn:hover {
  background-color: #FF9900;
  color: #fff;
}