html {
    font-size: 62.5%;
}
body {
    background-color: #29BEDF;
}

header {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #29BEDF;
}
.header-text {
    font-size: 1.7rem;
    color: #fff;
}
.header-img1 {
    width: 39px;
    height: 42px;
    margin: 0.3rem;
    background-image: url(images/img.png);
    background-position: -124px 0;
    -webkit-transform: scale(0.47);
    -moz-transform: scale(0.47);
    -ms-transform: scale(0.47);
    -o-transform: scale(0.47);
    transform: scale(0.47);
}

.header-img2 {
    width: 36px;
    height: 42px;
    margin: 0.3rem;
    background-image: url(images/img.png);
    background-position: -88px 0;
    -webkit-transform: scale(0.47);
    -moz-transform: scale(0.47);
    -ms-transform: scale(0.47);
    -o-transform: scale(0.47);
    transform: scale(0.47);
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
.main-audio-box1 {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B9E9F5;
}
.main-audio-text1 {
    margin: 0 0 0 2rem;
    font-size: 1.3rem;
}
.main-audio-bbox {
    width: 4.5rem;
}
.main-audio {
    width: 52px;
    height: 53px;
    background-image: url(images/img.png);
    background-position: -254px 0;
    -webkit-transform: scale(0.47);
    -moz-transform: scale(0.47);
    -ms-transform: scale(0.47);
    -o-transform: scale(0.47);
    transform: scale(0.47);
}
.main-audio-box2 {
    margin: 0.5rem 0;
}
.main-audio-text2 {
    margin: 0 0 0 3rem;
    font-size: 1.2rem;
    color: #fff;
}
.main-audio-tri {
    width: 0;
    height:0;
    margin: 0 0 0 3rem;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.8rem solid #B9E9F5;
}
.ul-li-square {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ul-li-square1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.ul-li-square1-text1 {
    /*width: 5rem;*/
    padding: 1.62rem 2rem;
    margin: 0.3rem 0.3rem 0 0.3rem;
    font-size: 1.5rem;
    background-color: #F4C97B;
}
.ul-li-square1-text2 {
    padding: 0 2.567rem;
    margin: 0 0.3rem 0.3rem 0.3rem;
    font-size: 1.2rem;
    background-color: #83B09B;
    color: #fff;
}
.ul-li-icon {
    width: 7.6rem;
    height: 1.7rem;
    margin: 1rem 0;
    background-image: url(images/image2.png);
    -webkit-background-size: 7.6rem;
    background-size: 7.6rem;
    visibility: hidden;
}
.ul-li-square1:hover .ul-li-icon {
    /*background-image: url(images/image2.png);*/
    visibility: visible;
}
footer {
    width: 100%;
    height: 8rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 0.1rem solid #fff;
    background-color: #29BEDF;
}
footer span {
    padding: 1.2rem 11rem;
    background-color: #FBB436;
    text-align: center;
    line-height: 4rem;
    color: #fff;
    font-size: 1.7rem;
}